BioRad_PCR/instructions.txt
BioRad_PCR/Data/Oligator140818.xls
BioRad_PCR/Data/oligator_works.xls
BioRad_PCR/Data/oligator_works1.xlsx
BioRad_PCR/Data/txtl151016_sender_receiver.xls
BioRad_PCR/Data/txtl151023_sender_receiver.xls
BioRad_PCR/Data/txtl151101_ahlscreening.xls
BioRad_PCR/Data/TXTL151103_SAM2.xls
BioRad_PCR/Data/txtl_151102_SAM.xls
BioRad_PCR/Data/TXTL_151127_FAM.xls
BioRad_PCR/Data/TXTL_151127_hex.xls
BioRad_PCR/Data/txtl_sender_receiver_t7_2.xls
BioRad_PCR/Functions/datapoints.mat
BioRad_PCR/Functions/importRaw.m
BioRad_PCR/Functions/instructions.m
BioRad_PCR/Functions/newfiles.m
BioRad_PCR/Functions/pipette.m
BioRad_PCR/Functions/plotData.m
BioRad_PCR/Functions/rgb.m
BioRad_PCR/Functions/samplenames.mat
BioRad_PCR/Functions/saveData.m
BioRad_PCR/Functions/savePlot.m
BioRad_PCR/Functions/selectData.m
BioRad_PCR/Functions/test.fig
BioRad_PCR/pipette/TXTL151016_SenderReceiverPCR.xlsx
BioRad_PCR/Plots/txtl151016_sender_receiver_AHL_Ch1.fig
BioRad_PCR/Plots/txtl151016_sender_receiver_AHL_Ch1.png
BioRad_PCR/Plots/txtl151016_sender_receiver_Ch1.fig
BioRad_PCR/Plots/txtl151016_sender_receiver_Ch1.png
BioRad_PCR/Plots/txtl151016_sender_receiver_Sender_Ch1.fig
BioRad_PCR/Plots/txtl151016_sender_receiver_Sender_Ch1.png
BioRad_PCR/Plots/txtl151023_sender_receiver_Ch1.fig
BioRad_PCR/Plots/txtl151023_sender_receiver_Ch1.png
BioRad_PCR/Plots/TXTL151103_SAM2_2_Ch1.fig
BioRad_PCR/Plots/TXTL151103_SAM2_2_Ch1.png
BioRad_PCR/Plots/TXTL151103_SAM2_Ch1.fig
BioRad_PCR/Plots/TXTL151103_SAM2_Ch1.png
BioRad_PCR/Plots/txtl_151102_SAM_Ch1.fig
BioRad_PCR/Plots/txtl_151102_SAM_Ch1.png
